html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg,
iframe,
object {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
    overflow-wrap: break-word;
    hyphens: auto;
}

#root,
#__next {
    isolation: isolate;
}
